/* styles/seccion3.css */
#seccion3 {
    background-color: #d0d0d0;
    padding: 20px;
}

@media only screen and (max-width: 600px) {

    /* Estilos específicos para pantallas pequeñas */
    button {
        padding: 8px 16px;
    }
}