body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
}

h1,
h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}